[Unit]
Description=Image Classifier Server
After=network.target syslog.target

[Service]
ExecStart=/home/iquser/ImageClass/imageclass-server.py
Restart=always
User=iquser
WorkingDirectory=/home/iquser/ImageClass

[Install]
WantedBy=multi-user.target

